@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:700');


.homescreen {
  width               : 100%;
  min-width           : 1335px;
  height              : 100vh;
  min-height          : 841px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(242, 244, 251, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.homescreen .stock {
  background-color    : rgba(255,255,255,0.0);
  width               : 1130px;
  margin-right        : 0px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .stock-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 137px;
  align-items         : center;
  height              : 199px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.homescreen .stock .stockcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 185px;
  width               : 281px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .stock .stockwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 199px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .stock .stock1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : auto;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.53px;
  line-height         : 28.0px;
}
.homescreen .stock .btncreatestock {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 38px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .stock .btncreatestock .btnvs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(25, 55, 173, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .stock .btncreatestock .createstock {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 19.0px;
}
.homescreen .stock .btnviewstock {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 38px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 793px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .stock .btnviewstock .btnvs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(33, 59, 178, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .stock .btnviewstock .viewstock {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 19.0px;
}
.homescreen .product {
  background-color    : rgba(255,255,255,0.0);
  width               : 1130px;
  margin-right        : 4px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -4px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .product-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 555px;
  align-items         : center;
  height              : 199px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.homescreen .product .productcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 185px;
  width               : 281px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .product .productwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 199px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .product .product1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : auto;
  width               : 132px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.53px;
  line-height         : 28.0px;
}
.homescreen .product .btncreateproduct {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 38px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 392px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .product .btncreateproduct .btncp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(33, 59, 178, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .product .btncreateproduct .createproduct {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 19.0px;
}
.homescreen .product .btnviewproduct {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 38px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 793px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .product .btnviewproduct .btnvp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(33, 59, 178, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .product .btnviewproduct .viewproduct {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 87px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 19.0px;
}
.homescreen .paddinggroup6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -18px;
  height              : 130px;
  width               : 1375px;
  position            : absolute;
  margin              : 0;
  left                : -20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .paddinggroup6 .background {
  background-color    : rgba(229, 229, 229, 1.0);
  top                 : 18px;
  height              : 90px;
  width               : 1335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .paddinggroup6 .stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 1375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .paddinggroup6 .stackedgroup .navbar {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 1375px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost {
  background-color    : rgba(255,255,255,0.0);
  width               : 1132px;
  margin-right        : 4px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -4px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 352px;
  align-items         : center;
  height              : 198px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.homescreen .cost .costcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 185px;
  width               : 281px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost .costwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 198px;
  width               : 938px;
  position            : absolute;
  margin              : 0;
  left                : 194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost .btncreatecost {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 38px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 386px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost .btncreatecost .btncc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(33, 59, 178, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost .btncreatecost .createcost {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 19.0px;
}
.homescreen .cost .btnviewcost {
  background-color    : rgba(255,255,255,0.0);
  top                 : 78px;
  height              : 38px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 786px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost .btnviewcost .btnvc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(33, 59, 178, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .cost .btnviewcost .viewcost {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 19.0px;
}
.homescreen .cost .cost1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : auto;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.53px;
  line-height         : 28.0px;
}
.homescreen .ayam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : auto;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : left;
  letter-spacing      : 0.69px;
  line-height         : 37.0px;
}
.homescreen .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 38px;
  width               : 207px;
  position            : absolute;
  margin              : 0;
  left                : 1058px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .group .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homescreen .group .getyouroptimizer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.32px;
  line-height         : 19.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}